.selector {
    padding: 2rem;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



.authentication__header {
    color: black;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    color: darkturquoise;
    max-width: 50rem;
    margin: 2rem auto;
    font-size: medium;
    text-align: center;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }
  h1{
    color: rgb(255, 255, 255);
    text-align: center;
  }