.selector {
    padding: 5rem;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

.authentication__header {
    color: black;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 50rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }